auto-install-peers=true
dedupe-peer-dependents=true
resolution-mode=highest
package-manager-strict=false
hoist-pattern[]=*
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='*prettier*'
public-hoist-pattern[]='*globals*'
public-hoist-pattern[]='*pg*'
public-hoist-pattern[]='*auth*'
public-hoist-pattern[]='*otplib*'
public-hoist-pattern[]='*lexical*'
public-hoist-pattern[]='*require-in-the-middle*'
public-hoist-pattern[]='*import-in-the-middle*'
