.cache
.content-collections
.next
.turbo
build
dist
node_modules
public
**/**/.cache
**/**/.content-collections
**/**/.next
**/**/.turbo
**/**/build
**/**/dist
**/**/node_modules
**/**/public

*.lock
*.log
*.hbs

.cursorrules
.DS_Store
.editorconfig
.eslintignore
.gitattributes
.gitignore
.npmignore
.npmrc
.nvmrc
.prettierignore
.syncpackrc
pnpm-lock.yaml
